extends layout

include _includes/sharedHTMLfunctions
block content
  .row.page-header
    .col-lg-12
      h1= title
  .row
    .col-xs-12.col-md-9
      .row
        .col-sm-12
          +outputRating(rating)
          p= address 
        .col-xs-12.col-sm-6
          .card
            .card-header.bg-success
              h4 Opening Hours
            .card-body
              .card-text 
                each item in opensOn
                  p
                    | #{item.days} : 
                    if item.closed
                      | closed
                    else
                      | #{item.time}
          .card
            .card-header.bg-success
              h4 Facilities
            .card-body
              .card-text.lead
                each facility in facilities
                  span.badge.badge-info
                    span.fa.fa-check
                    | &nbsp; #{facility}
                  |&nbsp;
        .col-xs-12.col-sm-6.location-map
          .card
            .card-header.bg-success
              h4 Location Map
            .card-body
              img.img-responsive.img-rounded(src='http://maps.googl')
      .row
        .col-xs-12.col-sm-12
          .card.review-card
            .card-header.bg-success
              a.btn.btn-dark.float-right(href='location/review/new') Add Review
              h4 Customer Reviews
            .card-body.review-container
              each review in reviews
                .row
                  .review
                    .card-title.review-title
                      +outputRating(review.reviewRating)
                      | &nbsp;
                      | &nbsp;
                      span.reviewAuthor= review.reviewAuthor
                      | &nbsp;
                      | &nbsp;
                      small.reviewTimeStamp= review.reviewDate
                    .card-text
                      p= review.reviewText
    .col-xs-12.col-md-3.side-info
      p.lead= note
      p= sideNote

              


